<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- bootstrap 4.3.1 -->
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="css/styles.min.css" />
    <!-- simplebar styles -->
    <link rel="stylesheet" href="css/vendor/simplebar.css" />
    <!-- tiny-slider styles -->
    <link rel="stylesheet" href="css/vendor/tiny-slider.css" />
    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico" />
    <title>Ahgosham | Friends</title>

    <style>
      #profile-header-social-links-slider {
        display: flex;
      }
      .profile-header-social-link {
        margin-right: 12px;
      }

      .profile-pic {
      width: 100%;
      height: 100%;
      border-radius: 50%!important;
      object-fit: cover!important;
      max-width: 100px!important;
      filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.8));
    }

      .custom-image {
        border-radius: 50%;
        margin-top: -5px;
        height: 90px;
        width: 100%;
        object-fit: cover;
        margin-left: -8px;
      }
      .custom-image-list {
        object-fit: cover;
        width: 80%;
        border-radius: 50%;
        margin-left: -6px;
        height: 38px;
      }

      .custom-image-small {
        border-radius: 50%;
        margin-top: -5px;
        height: 80px;
        width: 80%;
        object-fit: cover;
        margin-left: -5px;
      }
      .simplebar-content #norequest {
        padding: 30px;
      }

      .sidebar-image {
      width: 30px!important;
      height: 30px!important;
    }
    .coverImage {
      height: 280px;
        width: 100%;
        object-fit: cover;
      }
      
      .sidebarCover {
        height: 150px;
      }      
    </style>
  </head>
  <body>

    <% links = { dashboard: '', connections: '', requests: '',
    notifications: '' } %> <%- include('./reuseables/loader') -%> <%-
    include('./reuseables/sidenav.ejs', links) -%> <%-
    include('./reuseables/sidenavMobile.ejs', links) -%> <%-
    include('./reuseables/header.ejs') -%>

      <!-- CONTENT GRID -->
      <div class="content-grid">
        <!-- PROFILE HEADER -->
        <div class="profile-header">
          <!-- PROFILE HEADER COVER -->
          <figure class="profile-header-cover liquid">
            <img src="img/cover/01.jpg" alt="cover-01" />
          </figure>
          <!-- /PROFILE HEADER COVER -->
  
          <!-- PROFILE HEADER INFO -->
          <div class="profile-header-info">
            <!-- USER SHORT DESCRIPTION -->
            <div class="user-short-description big">
              <!-- USER SHORT DESCRIPTION AVATAR -->
              <a class="user-short-description-avatar user-avatar big" href="#">
                <!-- USER AVATAR BORDER -->
                <div class="user-avatar-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-148-164"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR BORDER -->
  
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div
                    class="hexagon-image-100-110 other-profile-image"
                    data-src=""
                  >
                    <img
                      class="profile-pic"
                      src="img/loader/loader.gif"
                      alt="profile picture"
                    />
                  </div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
  
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-124-136"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
  
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-124-136"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
  
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-40-44"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
  
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-32-34"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
  
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text" data-profile-completed>0%</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </a>
              <!-- /USER SHORT DESCRIPTION AVATAR -->
  
              <!-- USER SHORT DESCRIPTION AVATAR -->
              <a
                class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium"
                href="#"
              >
                <!-- USER AVATAR BORDER -->
                <div class="user-avatar-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-120-132"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR BORDER -->
  
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div
                    class="hexagon-image-82-90 other-profile-image"
                    data-src=""
                  >
                    <img
                      class="profile-pic"
                      src="img/loader/loader.gif"
                      alt="profile picture"
                    />
                  </div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
  
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-100-110"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
  
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-100-110"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
  
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-32-36"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
  
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-26-28"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
  
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text" data-profile-completed>0%</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </a>
              <!-- /USER SHORT DESCRIPTION AVATAR -->
  
              <!-- USER SHORT DESCRIPTION TITLE -->
              <p class="user-short-description-title">
                <span data-other-user-name>Ahgosham User</span>
              </p>
              <!-- /USER SHORT DESCRIPTION TITLE -->
  
              <!-- USER SHORT DESCRIPTION TEXT -->
              <p class="user-short-description-text">
                <a data-other-user-website href="#"></a>
              </p>
              <!-- /USER SHORT DESCRIPTION TEXT -->
            </div>
            <!-- /USER SHORT DESCRIPTION -->
  
            <!-- PROFILE HEADER SOCIAL LINKS WRAP -->
            <div
              class="profile-header-social-links-wrap"
              style="display: flex; justify-content: center"
            >
              <!-- PROFILE HEADER SOCIAL LINKS -->
              <div
                id="profile-header-social-links-slider"
                class="profile-header-social-links"
              >
                <!-- * SOCIAL LINKS WILL GO HERE   -->
              </div>
              <!-- /PROFILE HEADER SOCIAL LINKS -->
  
              <!-- SLIDER CONTROLS -->
              <div
                id="profile-header-social-links-slider-controls"
                class="slider-controls"
              >
                <!-- SLIDER CONTROL -->
                <div class="slider-control left">
                  <!-- SLIDER CONTROL ICON -->
                  <svg class="slider-control-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                  </svg>
                  <!-- /SLIDER CONTROL ICON -->
                </div>
                <!-- /SLIDER CONTROL -->
  
                <!-- SLIDER CONTROL -->
                <div class="slider-control right">
                  <!-- SLIDER CONTROL ICON -->
                  <svg class="slider-control-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                  </svg>
                  <!-- /SLIDER CONTROL ICON -->
                </div>
                <!-- /SLIDER CONTROL -->
              </div>
              <!-- /SLIDER CONTROLS -->
            </div>
            <!-- /PROFILE HEADER SOCIAL LINKS WRAP -->
  
            <!-- USER STATS -->
            <div class="user-stats">
             
  
              <!-- USER STAT -->
              <div class="user-stat big">
                <!-- USER STAT TITLE -->
                <p class="user-stat-title" data-other-friend-count>82</p>
                <!-- /USER STAT TITLE -->
  
                <!-- USER STAT TEXT -->
                <p class="user-stat-text">CONNECTS</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->
  
              <!-- USER STAT -->
              <div class="user-stat big">
                <!-- USER STAT IMAGE -->
                <img
                  class="user-stat-image"
                  data-flag
                  src="img/flag/map.png"
                  onerror="this.src='img/flag/map.png'"
                  alt="flag-map"
                />
                <!-- /USER STAT IMAGE -->
  
                <!-- USER STAT TEXT -->
                <p class="user-stat-text" data-country></p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->
            </div>
            <!-- /USER STATS -->
  
            <!-- PROFILE HEADER INFO ACTIONS -->
            <div class="profile-header-info-actions">
              <!-- PROFILE HEADER INFO ACTION -->
              <!-- <a class="profile-header-info-action button secondary" href="profile-edit.html" >
                    Update <span class="hide-text-mobile">Profile</span>
                </a> -->
              <!-- /PROFILE HEADER INFO ACTION -->
            </div>
            <!-- /PROFILE HEADER INFO ACTIONS -->
          </div>
          <!-- /PROFILE HEADER INFO -->
        </div>
        <!-- /PROFILE HEADER -->
  
        <!-- SECTION NAVIGATION -->
        <nav class="section-navigation">
          <!-- SECTION MENU -->
          <div id="section-navigation-slider" class="section-menu">
            <!-- SECTION MENU ITEM -->
            <a class="section-menu-item" href="#" id="profile-about">
              <!-- SECTION MENU ITEM ICON -->
              <svg class="section-menu-item-icon icon-profile">
                <use xlink:href="#svg-profile"></use>
              </svg>
              <!-- /SECTION MENU ITEM ICON -->
  
              <!-- SECTION MENU ITEM TEXT -->
              <p class="section-menu-item-text">About</p>
              <!-- /SECTION MENU ITEM TEXT -->
            </a>
            <!-- /SECTION MENU ITEM -->
  
            <!-- SECTION MENU ITEM -->
            <a class="section-menu-item active" href="profile-friends.html">
              <!-- SECTION MENU ITEM ICON -->
              <svg class="section-menu-item-icon icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>
              <!-- /SECTION MENU ITEM ICON -->
  
              <!-- SECTION MENU ITEM TEXT -->
              <p class="section-menu-item-text">Friends</p>
              <!-- /SECTION MENU ITEM TEXT -->
            </a>
            <!-- /SECTION MENU ITEM -->
  
            <!-- SECTION MENU ITEM -->
            <a class="section-menu-item" href="profile-photos.html">
              <!-- SECTION MENU ITEM ICON -->
              <svg class="section-menu-item-icon icon-photos">
                <use xlink:href="#svg-photos"></use>
              </svg>
              <!-- /SECTION MENU ITEM ICON -->
  
              <!-- SECTION MENU ITEM TEXT -->
              <p class="section-menu-item-text">Photos</p>
              <!-- /SECTION MENU ITEM TEXT -->
            </a>
            <!-- /SECTION MENU ITEM -->
  
          <!-- SLIDER CONTROLS -->
          <div id="section-navigation-slider-controls" class="slider-controls">
            <!-- SLIDER CONTROL -->
            <div class="slider-control left">
              <!-- SLIDER CONTROL ICON -->
              <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
              <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
  
            <!-- SLIDER CONTROL -->
            <div class="slider-control right">
              <!-- SLIDER CONTROL ICON -->
              <svg class="slider-control-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
              <!-- /SLIDER CONTROL ICON -->
            </div>
            <!-- /SLIDER CONTROL -->
          </div>
          <!-- /SLIDER CONTROLS -->
        </nav>
        <!-- /SECTION NAVIGATION -->
  
        <!-- SECTION -->
        <section class="section">
          <!-- SECTION HEADER -->
          <div class="section-header">
            <!-- SECTION HEADER INFO -->
            <div class="section-header-info">
              <!-- SECTION PRETITLE -->
              <p class="section-pretitle" data-other-user-name>Browse Marina's</p>
              <!-- /SECTION PRETITLE -->
  
              <!-- SECTION TITLE -->
              <h2 class="section-title">
                Friends
                <span class="highlighted" data-other-friend-count>0</span>
              </h2>
              <!-- /SECTION TITLE -->
            </div>
            <!-- /SECTION HEADER INFO -->
          </div>
          <!-- /SECTION HEADER -->
  
          <!-- SECTION FILTERS BAR -->
          <div class="section-filters-bar v1">
            <!-- SECTION FILTERS BAR ACTIONS -->
            <div class="section-filters-bar-actions">
              <!-- FORM -->
              <form class="form">
                <!-- FORM INPUT -->
                <div class="form-input small with-button">
                  <label for="friends-search">Search Friends</label>
                  <input type="text" id="friends-search" name="friends_search" />
                  <!-- BUTTON -->
                  <button class="button primary">
                    <!-- ICON MAGNIFYING GLASS -->
                    <svg class="icon-magnifying-glass">
                      <use xlink:href="#svg-magnifying-glass"></use>
                    </svg>
                    <!-- /ICON MAGNIFYING GLASS -->
                  </button>
                  <!-- /BUTTON -->
                </div>
                <!-- /FORM INPUT -->
              </form>
              <!-- /FORM -->
  
            </div>
            <!-- /SECTION FILTERS BAR ACTIONS -->
  <!-- SECTION FILTERS BAR ACTIONS -->
  <div class="section-filters-bar-actions">
    <!-- VIEW ACTIONS -->
    <div class="view-actions">
      <!-- VIEW ACTION -->
      <div
        class="view-action text-tooltip-tft-medium active"
        data-title="Big Grid"
        id="big-grid"
      >
        <!-- VIEW ACTION ICON -->
        <svg class="view-action-icon icon-big-grid-view">
          <use xlink:href="#svg-big-grid-view"></use>
        </svg>
        <!-- /VIEW ACTION ICON -->
      </div>
      <!-- /VIEW ACTION -->
  
      <!-- VIEW ACTION -->
      <div
        class="view-action text-tooltip-tft-medium"
        data-title="Small Grid"
        id="small-grid"
      >
        <!-- VIEW ACTION ICON -->
        <svg class="view-action-icon icon-small-grid-view">
          <use xlink:href="#svg-small-grid-view"></use>
        </svg>
        <!-- /VIEW ACTION ICON -->
      </div>
      <!-- /VIEW ACTION -->
  
      <!-- VIEW ACTION -->
      <div
        class="view-action text-tooltip-tft-medium"
        data-title="List"
        id="list"
      >
        <!-- VIEW ACTION ICON -->
        <svg class="view-action-icon icon-list-grid-view">
          <use xlink:href="#svg-list-grid-view"></use>
        </svg>
        <!-- /VIEW ACTION ICON -->
      </div>
      <!-- /VIEW ACTION -->
    </div>
    <!-- /VIEW ACTIONS -->
  </div>
  <!-- /SECTION FILTERS BAR ACTIONS -->
          </div>
          <!-- /SECTION FILTERS BAR -->
  
          <!-- GRID -->
          <div class="grid grid-4-4-4 centered" id="connection-grid">
            <!-- *OTHER FRIENDS CONNECTIONS AT PROFILE WILL GO HERE -->
          </div>
          <!-- /GRID -->
  
          <!-- GRID -->
          <div class="grid grid-3-3-3 centered" id="connection-grid-small">
            <!-- *OTHER FRIENDS CONNECTIONS AT PROFILE WILL GO HERE -->
          </div>
          <!-- /GRID -->
  
          <!-- GRID -->
          <div class="grid" id="connection-grid-list">
            <!-- *OTHER FRIENDS CONNECTIONS AT PROFILE WILL GO HERE -->
          </div>
          <!-- /GRID -->
          <!-- SECTION PAGER BAR -->
          <div class="section-pager-bar">
            <!-- SECTION PAGER -->
            <div class="section-pager">
              <!-- *PAGER (1/2/3/4...) WILL GO HERE -->
            </div>
            <!-- /SECTION PAGER -->
  
            <!-- SECTION PAGER CONTROLS -->
            <div class="section-pager-controls">
              <!-- SLIDER CONTROL -->
              <div class="slider-control left disabled">
                <!-- SLIDER CONTROL ICON -->
                <svg class="slider-control-icon icon-small-arrow">
                  <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /SLIDER CONTROL ICON -->
              </div>
              <!-- /SLIDER CONTROL -->
  
              <!-- SLIDER CONTROL -->
              <div class="slider-control right">
                <!-- SLIDER CONTROL ICON -->
                <svg class="slider-control-icon icon-small-arrow">
                  <use xlink:href="#svg-small-arrow"></use>
                </svg>
                <!-- /SLIDER CONTROL ICON -->
              </div>
              <!-- /SLIDER CONTROL -->
            </div>
            <!-- /SECTION PAGER CONTROLS -->
          </div>
          <!-- /SECTION PAGER BAR -->
        </section>
        <!-- /SECTION -->
      </div>
      <!-- /CONTENT GRID -->
  
    <%- include('./reuseables/commonIncludes.ejs') -%>

    
    <!-- JQUERY -->
    <script src="./myjs/jquery.min.js"></script>
    <!-- CUSTOM JS -->
    <script src="./myjs/main.js"></script>
    <!-- CUSTOM JS -->
    <script src="./myjs/logout.js"></script>
    <!-- MOMENT JS -->
    <script src="./js/moment/moment.js"></script>
    <!-- SIDEBAR DATA JS -->
    <script src="./myjs/sidebardata.js"></script>

    <script>
      const currentUrl = new URL(document.location.href);
      const id = currentUrl.searchParams.get("id");

      $("#big-grid").click(function (e) {
        e.preventDefault();
        $("#connection-grid-list").hide();
        $("#connection-grid-small").hide();
        $("#connection-grid").show();
        $(this).addClass("active");
        $("#small-grid").removeClass("active");
        $("#list").removeClass("active");
      });
      $("#small-grid").click(function (e) {
        e.preventDefault();
        $("#connection-grid").hide();
        $("#connection-grid-list").hide();
        $("#connection-grid-small").show();
        $(this).addClass("active");
        $("#big-grid").removeClass("active");
        $("#list").removeClass("active");
      });
      $("#list").click(function (e) {
        e.preventDefault();
        $("#connection-grid").hide();
        $("#connection-grid-small").hide();
        $("#connection-grid-list").show();
        $(this).addClass("active");
        $("#small-grid").removeClass("active");
        $("#big-grid").removeClass("active");
      });
      
      const itemsPerPage = 10;

      if (id) {
        fetchConnectionCount(id).then((data) => {
        // If not authorized then login else fetch
        if (data && data.status === ERRORS.AUTH_ERROR) {
          redirectTo("login");
        } else {
          const count = data ? data.count : 0;
          console.log(": -----------")
          console.log("count", count)
          console.log(": -----------")
          $("[data-other-friend-count]").text(count);
          const sectionPager = $(".section-pager");
          const pages = Math.ceil(count / itemsPerPage);
          for (let i = 1; i <= pages; i++) {
            const pager = pagerUI(i);
            sectionPager.append(pager);
          }
          $(".page").on("click", function (e) {
            const pageNumber =
              e.target.innerHTML[0] === "0"
                ? e.target.innerHTML[1]
                : e.target.innerHTML;
            console.log(pageNumber);
            fetchOtherConnects(pageNumber);
          });
        }
      });

        const fetchOtherConnects = (pageNumber=1) => {
          fetchOtherConnections(id, pageNumber, itemsPerPage).then((data) => {
            console.log(": ---------");
            console.log("data", data);
            console.log(": ---------");
            $("#connection-grid-list").hide();
            $("#connection-grid-small").hide();
            $("#connection-grid").show();
            showOthersConnections(data);
            showOthersConnections(data, true);
            showOthersConnections(data, false, true);
          });
        }
        fetchOtherConnects();

        fetchOthersProfile(id).then((data) => {
          // If not authorized then login else fetch
          if (data && data.status === ERRORS.AUTH_ERROR) {
            redirectTo("login");
          } else if('code' in data && data.code == 412){ // If profile is incomplete then redirect for its completion
              window.location.href="profile-edit.html?warning=Please complete your profile first";
            }else{
            console.log(data);
            const avatar = data.avatar
              ? getFullUrl(data.avatar)
              : "./img/custom/nouser.png";
            $("[data-other-user-name]").text(data.name);
            $("title").text(data.name+"'s | Friends");
            $(".other-profile-image img").attr("src", avatar);
            $("[data-other-friend-count]").text(data.friendCount);
            showSocialAccounts(data.socialAccounts);
          }
        });
        
        $("#profile-about").click(function (e) {
          e.preventDefault();
          document.location.href = `othersprofile.html?id=${id}`;
        });
        
      } else {

        fetchSelfProfile().then((data) => {
          // If not authorized then login else fetch
          if (data && data.status === ERRORS.AUTH_ERROR) {
            redirectTo("login");
          } else {
            console.log(data);
            const avatar = data.avatar
              ? getFullUrl(data.avatar)
              : "./img/custom/nouser.png";
            $("[data-other-user-name]").text(data.name);
            $("title").text(data.name+"'s | Friends");
            $(".other-profile-image img").attr("src", avatar);
            $("[data-other-friend-count]").text(data.friendCount);
            const country = data.country ? data.country.split(" ")[0] : "";
            $("[data-country]").text(country || "Not available");
            $("[data-flag]").attr("src", `img/flag/${country.toLowerCase()}.png`);
            showSocialAccounts(data.socialAccounts);
          }
        });
        fetchConnectionCount().then((data) => {
          // If not authorized then login else fetch
          if (data && data.status === ERRORS.AUTH_ERROR) {
            redirectTo("login");
          } else {
            const count = data ? data.count : 0;
            $("[data-friend-count]").text(count);
            const sectionPager = $(".section-pager");
            const pages = Math.ceil(count / itemsPerPage);
            for (let i = 1; i <= pages; i++) {
              const pager = pagerUI(i);
              sectionPager.append(pager);
            }
            $(".page").on("click", function (e) {
              const pageNumber =
                e.target.innerHTML[0] === "0"
                  ? e.target.innerHTML[1]
                  : e.target.innerHTML;
              console.log(pageNumber);
              fetchConnections(pageNumber);
            });
          }
        });

        const fetchConnections = (pageNumber) => {
          fetchMyConnections(pageNumber, itemsPerPage).then((data) => {
            // If not authorized then login else fetch
            if (data && data.status === ERRORS.AUTH_ERROR) {
              redirectTo("login");
            } else {
              $("#connection-grid-list").hide();
              $("#connection-grid-small").hide();
              $("#connection-grid").show();
              showConnections(data);
              showConnections(data, true);
              showConnections(data, false, true);
            }
          });
        };
        fetchConnections();

        $("#profile-about").click(function (e) {
          e.preventDefault();
          document.location.href = `myprofile.html`;
        });
      }

    </script>
  </body>
</html>
